@charset "utf-8";

body {
  font-family: 'Josefin Sans', sans-serif !important;
  background:#FFF;
}
a {
  color:#f84d26;
}
a:hover,a:focus {
  color:#d23916;
}
ul,ol {
  list-style:none;
}
iframe {
  border:0;
}
.jumbotron {
  position:relative;
  color:#fff;
}
.masthead {
  height:840px;
  background:url(../images/home-background.jpg) no-repeat #000;
  overflow:hidden;
  background-attachment:fixed;
  background-position:50% 0;
  background-size:cover;
  -ms-background-position-x:center!important;
}
.navbar {
  background:#080c19;
  margin-bottom: 0px!important;
  margin-left: 0px!important;
  margin-right: 0px!important;
}
.navbar .nav>li>a {
  color:#FFF;
  text-transform:uppercase;
  text-shadow:none;
}
.navbar .nav>li>a:focus,.navbar .nav>li>a:hover {
  color:#CCC;
}
.navbar .nav {
  padding-top:5px;
}
.navbar li.dropdown:hover ul {
  /*display:block;*/
}
.dropdown-menu {
  background-color: #101010!important;
}
.dropdown-menu>li>a {
  color: #9d9d9d!important;
}
.dropdown-menu>li>a:hover {
  background-color: #101010!important;
  color: #ffffff!important;
}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a {
  background:#ba091a;
  background-image:none;
}
.btn {
  background:#8b8b8b;
  color:#FFF;
  text-shadow:none;
  border:0;
}
.btn:hover,.btn:focus,.btn:active {
  background:#6f6f6f;
  color:#FFF;
}
.btn-med {
  font-size:14px;
  padding:5px 18px;
}
.btn-large {
  font-size:18px;
  padding:20px 50px;
}
.btn-danger {
  background-color:#e03114;
  background-image:none;
  border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.btn-danger:hover,.btn-danger:focus,.btn-danger:active {
  background-color:#d62d11!important;
  color:#FFF!important;
}
.hero-unit {
  background:none;
  text-align:center;
  padding-top:300px;
  padding-bottom:0;
}
.hero-unit h1 {
  padding-bottom:15px;
  font-size:90px;
  text-shadow:0px 0px 10px rgba(0,0,0,0.5);
}
.hero-unit h3 {
  font-weight:normal;
  padding-bottom:15px;
  font-size:40px;
}
.slide2 {
  background:none;
  text-align:center;
  padding-top:100px;
}
.fancy {
  line-height:0.5;
  text-align:center;
}
.fancy span {
  display:inline-block;
  position:relative;
}
.fancy span:before,.fancy span:after {
  content:"";
  position:absolute;
  height:5px;
  border-bottom:1px solid white;
  border-top:1px solid white;
  top:8px;
  width:150px;
}
.fancy span:before {
  right:100%;
  margin-right:15px;
}
.fancy span:after {
  left:100%;
  margin-left:15px;
}
.PageHead {
  margin:20px 0;
  text-align:center;
}
.PageHead h3 {
  text-align:center;
  text-transform:uppercase;
}
.EventsList {
  margin-bottom:15px;
}
.EventsList .thumbnail {
  border:0;
  text-align:center;
  text-transform:uppercase;
  box-shadow:none;
}
.EventsList .thumbnail h3 {
  color:#ba091a;
  font-size:20px;
  line-height:1;
}
.EventsList .thumbnail,.EventsList .caption {
  margin:0;
  padding:0;
}
.caption > img {
  border: 2px solid black;
}
li.social > a {
  padding: 2px !important;
}
li.social a > span {
  padding-left: 10px;
}
.pageOdd {
  color:#000;
  background-color:#327d49;
  min-height: 100vh;
}
.pageOdd a {
  color:#040c72;
}
.pageEven {
  color:#000;
  background-color:#f1ffe7;
  min-height: 100vh;
}
.homeAbout {
  width: 100%;
  height: 30px;
  background-image: linear-gradient(to bottom, black, black 15px, white 30px);
}
.lead {
  text-align: justify;
}
.overlay {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-image: linear-gradient(to top, black, transparent 100px);
}
.facebook {
  position: fixed;
  top: 100px;
  right: -300px;
  width: 300px;
  -webkit-transition: right .2s linear;
  -moz-transition: right .2s linear;
  transition: right .2s linear;
  border: 1px solid black;
}
.facebook > a, .facebook-inner {
  position: absolute;
  left: -35px;
  top: 150px;
  height: 35px;
  transition: color 100ms ease-in-out;
  -o-transition: color 100ms ease-in-out;
  -ms-transition: color 100ms ease-in-out;
  -moz-transition: color 100ms ease-in-out;
  -webkit-transition: color 100ms ease-in-out;

  transform: rotate(-90deg);
  transform-origin: 0 0;
  cursor: pointer;

  background-color: #3b5998;
  padding: 5px 10px 0 10px;
  border-radius: 7px 7px 0 0;
  font-family: 'Archivo Black', sans-serif !important;
  font-size: 12pt;
  color: #ffffff;
}
.twitter {
  position: fixed;
  top: 100px;
  right: -300px;
  width: 300px;
  -webkit-transition: right .2s linear;
  -moz-transition: right .2s linear;
  transition: right .2s linear;
}
.twitter > a, .twitter-inner {
  position: absolute;
  left: -35px;
  top: 250px;
  height: 35px;
  transition: color 100ms ease-in-out;
  -o-transition: color 100ms ease-in-out;
  -ms-transition: color 100ms ease-in-out;
  -moz-transition: color 100ms ease-in-out;
  -webkit-transition: color 100ms ease-in-out;

  transform: rotate(-90deg);
  transform-origin: 0 0;
  cursor: pointer;

  background-color: #55acee;
  padding: 5px 10px 0 10px;
  border-radius: 7px 7px 0 0;
  font-family: 'Righteous', sans-serif !important;
  font-size: 12pt;
  color: #ffffff;
}
.active {
  right: 0px;
  z-index: 1000;
}
.ContactUs {
  margin-top:25px;
}
.ContactUs input[type=text],.ContactUs input[type=email] {
  height:50px;
  border-radius: 15px;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  border-left: 2px solid rgb(169, 169, 169);
  border-top: 2px solid rgb(169, 169, 169);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
.ContactUs textarea {
  height:150px;
  border-radius: 25px;
  margin-top: 15px;
  padding: 10px;
  resize: none;
  width: 100%;
  border-left: 2px solid rgb(169, 169, 169);
  border-top: 2px solid rgb(169, 169, 169);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
.ContactUs input[type=button] {
  margin-top: 15px;
  background-color: #ff6a00;
  border-radius: 15px;
  font-weight: bolder;
  width: 100%;
  border: 1px solid black;
}
.footer {
  color:#fff;
  background:#000;
  overflow:hidden;
  background-attachment:fixed;
  background-position:50% 0;
  background-size:cover;
  padding-bottom:50px;
  -ms-background-position-x:center!important;
}
@media (max-width: 979px)  {
  .hero-unit {
    padding-top:250px;
  }
  .hero-unit h1 {
    font-size:60px;
  }
  .hero-unit h3 {
    font-size:18px;
    line-height:25px;
    padding-top:5px;
    padding-bottom:5px;
    font-weight:normal;
  }
  .slide2,.slide3 {
    padding-top:75px;
  }
  .slide3 h3,.slide2 h3 {
    font-size:18px;
    line-height:25px;
    padding-top:5px;
    padding-bottom:5px;
    font-weight:normal;
  }
}
@media (max-width: 767px)  {
  .jumbotron {
    padding:20px 20px;
    margin-top:-20px;
    height:auto;
  }
  .masthead {
    background-size:cover;
    background-attachment:scroll;
  }
  .PageHead h3,.FeatLayout h3 {
    font-size:20px;
    line-height:25px;
    padding-top:5px;
    padding-bottom:5px;
  }
  .footer {
    padding:20px 20px;
    margin-bottom:-20px;
  }
}
@media (max-width: 480px)  {
  .hero-unit h1 {
    font-size:20px;
  }
  .slide2 iframe {
    width:100%;
    height:200px;
  }
  .flex-direction-nav {
    display:none;
  }
  .hero-unit {
    padding-top:190px;
  }
  .hero-unit h1 {
    font-size:42px;
  }
  .fancy span:before,.fancy span:after {
    display:none;
  }
}
.scrollup {
  width:40px;
  height:40px;
  opacity:0.4;
  position:fixed;
  bottom:30px;
  right:30px;
  display:none;
  text-indent:-9999px;
  background:url('../images/icon_top.png') no-repeat;
}
ul {
  margin:0;
  padding:0;
}

div.concert {
  display: inline-block;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 25%;
  min-width: 200px;
  margin-bottom: 2em;
}
