@charset "utf-8";

body {
  font-family:"PT Sans",Arial,Helvetica,sans-serif;
  background:#FFF;
}
a {
  color:#f84d26;
}
a:hover,a:focus {
  color:#d23916;
}
ul,ol {
  list-style:none;
}
iframe {
  border:0;
}
.jumbotron {
  position:relative;
  color:#fff;
}
.masthead {
  height:840px;
  background:url(../images/home-background.png) no-repeat #000;
  overflow:hidden;
  background-attachment:fixed;
  background-position:50% 0;
  background-size:cover;
  -ms-background-position-x:center!important;
}
.navbar {
  background:#080c19;
  margin-bottom: 0px!important;
}
.navbar .nav>li>a {
  color:#FFF;
  text-transform:uppercase;
  text-shadow:none;
}
.navbar .nav>li>a:focus,.navbar .nav>li>a:hover {
  color:#CCC;
}
.navbar .nav {
  padding-top:5px;
}
.navbar li.dropdown:hover ul {
  display:block;
}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a {
  background:#ba091a;
  background-image:none;
}
.btn {
  background:#8b8b8b;
  color:#FFF;
  text-shadow:none;
  border:0;
}
.btn:hover,.btn:focus,.btn:active {
  background:#6f6f6f;
  color:#FFF;
}
.btn-med {
  font-size:14px;
  padding:5px 18px;
}
.btn-large {
  font-size:18px;
  padding:20px 50px;
}
.btn-danger {
  background-color:#e03114;
  background-image:none;
  border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.btn-danger:hover,.btn-danger:focus,.btn-danger:active {
  background-color:#d62d11!important;
  color:#FFF!important;
}
.hero-unit {
  background:none;
  text-align:center;
  padding-top:300px;
  padding-bottom:0;
}
.hero-unit h1 {
  padding-bottom:15px;
  font-size:90px;
  text-shadow:0px 0px 10px rgba(0,0,0,0.5);
}
.hero-unit h3 {
  font-weight:normal;
  padding-bottom:15px;
  font-size:40px;
}
.slide2 {
  background:none;
  text-align:center;
  padding-top:100px;
}
.fancy {
  line-height:0.5;
  text-align:center;
}
.fancy span {
  display:inline-block;
  position:relative;
}
.fancy span:before,.fancy span:after {
  content:"";
  position:absolute;
  height:5px;
  border-bottom:1px solid white;
  border-top:1px solid white;
  top:8px;
  width:150px;
}
.fancy span:before {
  right:100%;
  margin-right:15px;
}
.fancy span:after {
  left:100%;
  margin-left:15px;
}
.PageHead {
  margin:20px 0;
  text-align:center;
}
.PageHead h3 {
  text-align:center;
  text-transform:uppercase;
}
.EventsList {
  margin-bottom:15px;
}
.EventsList .thumbnail {
  border:0;
  text-align:center;
  text-transform:uppercase;
  box-shadow:none;
}
.EventsList .thumbnail h3 {
  color:#ba091a;
  font-size:20px;
  line-height:1;
}
.EventsList .thumbnail,.EventsList .caption {
  margin:0;
  padding:0;
}
.pageOdd {
  color:#fff;
  background-color:#000;
  min-height: 100vh;
}
.pageEven {
  color:#000;
  background-color:#fff;
  min-height: 100vh;
}
.ContactUs {
  margin-top:25px;
}
.ContactUs input[type=text],.ContactUs input[type=email] {
  height:50px;
}
.ContactUs textarea {
  height:150px;
}
.footer {
  color:#fff;
  background:#000;
  overflow:hidden;
  background-attachment:fixed;
  background-position:50% 0;
  background-size:cover;
  padding-bottom:50px;
  -ms-background-position-x:center!important;
}
@media (max-width: 979px)  {
  .hero-unit {
    padding-top:250px;
  }
  .hero-unit h1 {
    font-size:60px;
  }
  .hero-unit h3 {
    font-size:18px;
    line-height:25px;
    padding-top:5px;
    padding-bottom:5px;
    font-weight:normal;
  }
  .slide2,.slide3 {
    padding-top:75px;
  }
  .slide3 h3,.slide2 h3 {
    font-size:18px;
    line-height:25px;
    padding-top:5px;
    padding-bottom:5px;
    font-weight:normal;
  }
}
@media (max-width: 767px)  {
  .jumbotron {
    padding:20px 20px;
    margin-top:-20px;
    margin-right:-20px;
    margin-left:-20px;
    height:auto;
  }
  .masthead {
    background-size:cover;
    background-attachment:scroll;
  }
  .PageHead h3,.FeatLayout h3 {
    font-size:20px;
    line-height:25px;
    padding-top:5px;
    padding-bottom:5px;
  }
  .footer {
    padding:20px 20px;
    margin-bottom:-20px;
    margin-right:-20px;
    margin-left:-20px;
  }
}
@media (max-width: 480px)  {
  .hero-unit h1 {
    font-size:20px;
  }
  .slide2 iframe {
    width:100%;
    height:200px;
  }
  .flex-direction-nav {
    display:none;
  }
  .hero-unit {
    padding-top:190px;
  }
  .hero-unit h1 {
    font-size:42px;
  }
}
.scrollup {
  width:40px;
  height:40px;
  opacity:0.4;
  position:fixed;
  bottom:30px;
  right:30px;
  display:none;
  text-indent:-9999px;
  background:url('../images/icon_top.png') no-repeat;
}
ul {
  margin:0;
  padding:0;
}
